body {
  font-family: "Lato", sans-serif;
}

header {
  float: top;
  margin: 20px;
  font-style: normal;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 25px;
  color: black;
  text-align: center;
}

.section {
  float: left;
  margin: 5px;
  background-color: rgb(233,236,217);
  width: 60%;
  height: auto;
}

.section a  {
  float: left;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.section a:hover {
  text-decoration: none;
  opacity: 75%;
}

.section img {
  width: 75%;
  height: auto;
}

.bottom {
  vertical-align: bottom;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(237, 237, 237);
  display: block;
}

.sidenav a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: white;
}



.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.main a {
  float: none;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

.main a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: black;

}

.main p {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
  font-size: 24px;
  text-align: left;
}

model-viewer {
  float: left;
  margin: 1%;
  width: 400px;
  height: auto;
}
